<form class="form new-project-form col-8 ">
  <div class="form-group">
    <p>Created by {{user.name}} on {{format_date date_created}}</p>
    <label for="project-desc">Title</label>
    <input class="form-input" type="text" id="project-name" name="project-name" value="{{title}}" />
  </div>
  <div class="form-group">
    <label for="project-desc">Body</label>
    <textarea class="form-input" id="project-desc" name="project-desc">{{body}}</textarea>
  </div>
  {{!-- <div class="form-group">

  </div> --}}
</form>
<button class="btn btn-sm btn-dark" id="blogSubmit" data-id="{{blog.id}}">Update</button>